---
import MainLayout from "../../layout/MainLayout.astro";
import AuthorCard from "@components/AuthorCard.astro";
import "../../styles/global.css";
import { getCollection } from "astro:content";

const authors = await getCollection("author");
---

<MainLayout title="Autores">
  <h1>autores</h1>

  <section class="grid grid-cols-1 sm:grid-cols-2 gap-2">
    {authors.map((author) => <AuthorCard author={author} />)}
  </section>
</MainLayout>
